body{
font-family: Arial;
margin:0;
background:#f5f5f5;
}


/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:white;
}

.logo img{
height:60px;
}

nav ul{
list-style:none;
display:flex;
gap:30px;
}

nav a{
text-decoration:none;
color:#000;
font-weight:bold;
}


/* HERO */

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:60px;
}

.hero-texto{
max-width:500px;
}

.hero-texto h1{
font-size:42px;
margin-bottom:20px;
align-items: center;
}

.btn-principal{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#000000;
color:white;
text-decoration:none;
border-radius:6px;
font-weight:bold;
}

.btn-principal:hover{
background:#4ea2a3;
}


/* BENEFICIOS */

.beneficios{
display:flex;
gap:40px;
margin-top:40px;
}

.beneficio{
text-align:center;
}

.beneficio i{
font-size:35px;
color:#63b6b7;
}


/* HERO IMAGEN */

.hero-imagen img{
width:350px;
border-radius:10px;
}


/* REDES */

.redes{
text-align:center;
padding:30px;
}

.redes a{
margin:10px;
font-size:24px;
color:#000;
}


/* TESTIMONIOS */

.testimonios{
background:#3e5f60;
color:white;
padding:60px;
text-align:center;
position:relative;
}

.slide{
display:none;
}

.slide.activo{
display:block;
}

.prev, .next{
position:absolute;
top:50%;
background:none;
border:none;
font-size:30px;
color:white;
cursor:pointer;
}

.prev{
left:20px;
}

.next{
right:20px;
}


/* FOOTER */

footer{
background:#63b6b7;
text-align:center;
padding:20px;
}